@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

body {
  min-width: 365px;
  max-width: 600px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
}
p {
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(208, 11%, 55%);
  line-height: 1.3rem;
}
a {
  text-decoration: none;
}
a:active {
  color: purple;
}

/* ******HEADER LAYOUT****** */

header {
  background-image: url("images/bg-hero-mobile.svg");
  background-color: hsl(193, 100%, 96%);
  padding: 2rem 1rem 1rem 1rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.head-1 {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
}
button:hover,
:focus {
  cursor: pointer;
}
.try-it {
  background-color: white;
  width: 8.5em;
  padding: 0.3rem 0rem;
  border: 0px;
  border-radius: 40px;
  box-shadow: 0px 5px 10px -5px hsl(208, 11%, 55%);
}
.try-it a {
  color: hsl(192, 100%, 9%);
}
.try-it a:hover {
  color: hsla(192, 100%, 9%, 0.5);
}
.try-it:hover,
:focus {
  cursor: pointer;
}
.title img {
  width: 50%;
}
.head-2 {
  text-align: center;
  padding: 1.2rem;
}
.head-2 h2 {
  color: hsl(192, 100%, 9%);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.head-2 p {
  color: hsl(192, 100%, 9%);
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 2rem;
}
.get-started {
  background-color: hsl(322, 100%, 66%);
  width: 20em;
  padding: 0.8rem 0;
  border: 0px;
  border-radius: 30px;
}
button {
  color: hsl(193, 100%, 96%);
}
.get-started:hover,
:focus {
  cursor: pointer;
  background-color: hsl(322, 90%, 72%);
}
.bg-hero img {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 0;
}

/* *****MAIN LAYOUT***** */

.feature {
  text-align: center;
  width: inherit;
  padding: 2.1rem;
  margin: 2.2rem 1.5rem;
  border-radius: 20px;
  box-shadow: 0px 0px 20px -10px hsl(208, 11%, 55%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature img {
  width: 90%;
  margin-bottom: 3rem;
}
h3 {
  margin: 0;
}
.feature-3 {
  margin-bottom: 14rem;
}

/* *****FOOTER***** */

footer {
  color: white;
  background-color: hsl(192, 100%, 9%);
  font-size: 1rem;
  position: relative;
  padding: 8rem 2rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cta {
  background-color: white;
  text-align: center;
  width: 90%;
  margin: 2rem auto;
  padding: 2.5rem 0rem;
  border-radius: 20px;
  box-shadow: 0px 0px 20px -10px hsl(208, 11%, 55%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -9rem;
  right: auto;
}
.cta h3 {
  font-size: 1em;
  margin-bottom: 1.5rem;
}
.cta button {
  width: 18em;
  box-shadow: 0px 5px 10px -5px hsl(208, 11%, 55%);
}
.logo {
  background-color: hsl(192, 100%, 9%);
  align-self: flex-start;
  margin-left: 2%;
}
.logo img {
  width: 50%;
  margin-bottom: 2rem;
  filter: brightness(0) invert(1);
}
.contact {
  margin-left: 2%;
  margin-bottom: 3rem;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 3fr 1fr 1fr;
  justify-content: start;
}
.info-text {
  padding-left: 0.4rem;
  margin-bottom: 1rem;
}
.location-icon {
  grid-column: 1/2;
  grid-row: 1/2;
  padding-top: 0.2rem;
}
.location {
  width: 100%;
  grid-column: 2/-1;
  grid-row: 1/2;
}
.phone-icon {
  grid-column: 1/2;
  grid-row: 2/3;
}
.phone {
  grid-column: 2/-1;
  grid-row: 2/3;
}
.mail-icon {
  grid-column: 1/2;
  grid-row: 3/4;
}
.mail {
  grid-column: 2/-1;
  grid-row: 3/4;
}
.other-links a {
  color: white;
}
.other-links a:hover,
:focus {
  text-decoration: underline;
}
.links {
  margin-bottom: 1.2rem;
}
.other-links-2 {
  margin-bottom: 2rem;
}
.social {
  align-self: center;
  display: flex;
  justify-content: center;
}
.social-link {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem 1.5rem 0.5rem;
  border: 1px solid white;
  border-radius: 50%;
}
.social-link a {
  color: hsl(193, 100%, 96%);
  text-align: center;
}
.social-link a:hover {
  color: hsl(322, 100%, 66%);
}
.social-link:hover {
  cursor: pointer;
  color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
}
.social-link a:visited {
  color: hsl(193, 100%, 96%);
}
.copy {
  font-size: 12px;
  text-align: center;
}

/* *****MEDIA QUERY***** */

@media (min-width: 600px) {
  body {
    box-shadow: 0px 0px 12px -10px hsl(208, 11%, 55%);
  }
}
@media (min-width: 1100px) {
  body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
  }
  h2,
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
  }
  p {
    font-size: 1em;
  }
  header {
    background-image: url("images/bg-hero-desktop.svg");
    margin-bottom: 7rem;
  }
  .head-1 {
    margin-bottom: 0rem;
    padding: 0rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title img {
    width: 70%;
  }
  .try-it {
    padding: 0.6em 3em;
    width: auto;
  }
  .head-2 {
    text-align: left;
    padding: 1.2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head-2 h2 {
    font-size: 2em;
  }
  .head-2 p {
    font-size: 0.95em;
  }
  .top-text {
    width: 50%;
    max-width: 720px;
    padding-right: 0rem;
  }
  .get-started {
    font-size: 0.8em;
    padding: 1.2em 4em;
    width: auto;
    border-radius: 50px;
  }
  .bg-hero img {
    width: 90%;
    margin-left: 5rem;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main h2,
  h3 {
    font-size: 1.6em;
    text-align: left;
    line-height: 1.8rem;
  }
  main p {
    text-align: left;
    line-height: 1.8rem;
  }
  .feature {
    max-width: 80%;
    padding-left: 7rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .feature-1 {
    flex-direction: row-reverse;
    margin-bottom: 0.5rem;
  }
  .feature-2 {
    flex-direction: row;
    margin-bottom: 0.5rem;
  }
  .feature-3 {
    flex-direction: row-reverse;
    margin-bottom: 14em;
  }
  .feature-3 p {
    padding-right: 2rem;
  }
  .feature-text {
    width: 100%;
    padding-right: 10rem;
  }
  .feature-2 img {
    padding-right: 10rem;
  }
  .feature-text-2 {
    padding-left: 5rem;
    padding-right: 0;
  }
  .cta {
    width: 50%;
    top: -10em;
  }
  .cta h3 {
    font-size: 1.8em;
    margin: 1rem auto 2rem auto;
    text-align: center;
  }
  .cta button {
    font-size: 1em;
    width: 20em;
    padding: 1.3em 0;
    border-radius: 60px;
  }
  footer {
    padding-top: 10rem;
  }
  .main-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contact {
    width: 40%;
    margin: auto 6rem 3rem 5rem;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 8fr;
  }
  .logo {
    width: 30%;
    margin-left: 5rem;
  }
  .info-text {
    margin-left: -1.3rem;
  }
  .location {
    max-width: 90%;
  }
  .other-links {
    width: 20%;
  }
  .social {
    width: 15%;
    align-self: flex-start;
    margin-right: 10rem;
  }
  .copy {
    align-self: flex-end;
    margin-right: 4rem;
  }
}
